table, tr, td{
    border: solid 2px rgb(0, 0, 0);
    border-collapse: collapse;
}
 
.largColuna{
    width: 200px;
    background-color:rgb(255, 217, 5);
}
#cidade{
    background-color: rgb(253, 95, 95);
    
}
 
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
    
}
#Barra{
    background-color: black;
}

.letra{
    color: aliceblue;
}
